<h1>All Roasters</h1>

<table>
	<thead>
		<tr>
			<th colspan="3"></th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td><strong>Roaster</strong></td>
			<td><strong>Location</strong></td>
			<td><strong>Roaster Details</strong></td>
		</tr>
		<% @roasters.each do |roaster| %>
		<tr>
			<td><%= roaster.name %></td>
			<td><%= roaster.location %></td>
			<td><a href="<%= roaster_path(roaster) %>">Details</td>
		</tr>
		<% end %>
		
	</tbody>
</table>