<body>
    <!-- content -->
    <div class="container" role="main">
      <div>
  <div style="width: 600px;margin:auto">
    <img style="width: 600px" src="https://img.etimg.com/thumb/msid-66650613,width-643,imgsize-801611,resizemode-4/coffee.jpg">
  </div>
  <h1 align="center">Welcome to the Coffee Review!</h1>
</div>
    </div>
  

</body>