<% if flash[:notice] %>
<div class="center alert">
  <p><%= flash[:notice] %></p>
</div>
<% end %>

<% if @user.admin %>
	<p><strong>ADMIN</strong></p>
<% end %>

<p><%= @user.name %></p>
<p>$<%= @user.money %></p>
<br>
<a href="<%= roasts_path %>">See Roasts</a>